# Virtual Environment
venv/
env/
.env/
.venv/
airflow_env/
.airflow_env/

# Jupyter Notebooks
.ipynb_checkpoints
*.ipynb

# Python
__pycache__/
.vscode/
*.py[cod]
*$py.class

# MacOS
.DS_Store
.DS_Store?
._*

# Airflow related items
airflow/airflow-webserver.pid
airflow/airflow.db
airflow/logs
webserver_config.py
airflow-co-apt.pem
nohup.out
airflow-*

# AWS
AWSCLIV2.pkg
.aws-sam/
tests/

# Testing
scripts


# Web Stuff
node_modules/
.vercel
.next

# IDE Stuff
.windsurfrules
